/* ! Font Family */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ! REMOVING DEFAULT BROWSER STYLE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    /*  ! STYLE FOR FONT */

    --font-1: "Crimson Text", serif;
    --font-2: "Work Sans", serif;

   

    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;
    --sub: 20px;

    --label: 16px;
    --ls: 5px;

    --body: 14px;

    /* ! COLOR PALATE */

    --color-dark-100: rgba(33, 37, 41, 1);
    --color-dark-75: rgba(33, 37, 41, 0.75);
    --color-dark-50: rgba(33, 37, 41, 0.5);
    --color-dark-25: rgba(33, 37, 41, 0.25);

    --color-white-100: rgba(255, 255, 255, 1);
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-25: rgba(255, 255, 255, 0.25);

    --color-green-100: rgba(116, 198, 157, 1);
    --color-green-75: rgba(116, 198, 157, 0.75);
    --color-green-50: rgba(116, 198, 157, 0.50);
    --color-green-25: rgba(116, 198, 157, 0.25);

}

/* ! STYLE RULES FOR LABEL TEXT  */

.label{
    font-family: var(--font-2);
    font-size: var(--label);
    letter-spacing: var(--ls);
    text-transform: uppercase;
    font-weight: 700;
}

/* ! STYLE RULES FOR TEXT COLOR */

.text-white{
    color: var(--color-white-100);
}

.text-black{
    color: var(--color-black-100);
}

.text-green{
    color: var(--color-green-100);
}

/* ! STYLE RULES FOR TEXT BUTTON */

.white-btn, .dark-btn{
    cursor: pointer;
    border: none;
    background-color: var(--color-white-100);
    color: var(--color-dark-100);
    font-family: var(--font-2);
    font-size: var(--h5);
    padding: 10px 40px;
    border-radius: 8px;
}

.dark-btn{
    background-color: var(--color-dark-100);
    color: var(--color-white-100);
}


/* ! STYLE RULES FOR HERO SECTION */
.hero{
    background-color: var(--color-green-100);
}

/* ! STYLE RULES FOR NAV BAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.navbar_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar_logo_text{
    font-size: var(--h2);
    color: var(--color-white-100);
    font-family: var(--font-2);
    font-weight: 500;
}

.navbar_menu{
    display: flex;
    gap: 15px;
    font-family: var(--font-2);
    font-size: var(--h5);
}

[class ^="navbar_menu-"]{
    text-decoration: none;
    color: var(--color-white-100);
}

.navbar__icon{
    display: none;
}

.navbar__icon i{
    font-size: var(--h2);
    color: var(--color-white-100);
    cursor: pointer;
}

.hide{
    display: none;
}




/* ! STYLE RULES FOR COMMON CLASS NAME  */
.container{
    max-width: 1140px;
    margin: auto;
}

/*  ! STYLES RULES FOR Responsive Images */

.reponsive_image{
    max-width: 100%;
    height: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 25px;
}


.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.common-title{
    font-size: var(--h1);
    font-family: var(--font-1);
    font-weight: bold;
    text-transform: capitalize;
}

.text_center{
    text-align: center;
}


/* ! STYLE FOR SECTION ONE */

.section_one{
    padding: 30px 50px;
}

.section_one_left--btn{
    align-self: self-start;
}
/* ! STYLES FOR MEDIA QUERIES */

@media (max-width:1200px){
    .container{
        max-width: 970px;
       
    }
}

@media (max-width:1024px){
    .container{
        max-width: 740px;
       
    }
}


@media (max-width:768px){
    .container{
        max-width: 500px;
       
    }

    .navbar_menu{
        z-index: 1;
        background-color: var(--color-green-100);
        display: flex;
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
       
    }

    .navbar__icon{
        display: block;
    }

    .navbar_menu-1{
        margin-top: -200px;
    }

    .hidden{
        z-index: -1;
        opacity: 0;
    }
}

@media (max-width:568px){
    .container{
        max-width: 90%;
       
    }
}